.NFcontainer {
  background: radial-gradient(
    circle,
    rgba(240, 0, 0, 1) 0%,
    rgba(101, 20, 20, 1) 63%,
    rgba(79, 2, 2, 1) 100%
  );
  z-index: -1;
  height: 47.1rem;
  text-align: -webkit-center;
}
